@import url(./styles.css);
#back {
  background-color: var(--light-blue);
  color: var(--dark-blue);
  font-size: 2rem;
  width: 10rem;
  height: 4rem;
  margin: 2rem;
  align-self: center;
}
header div {
  display: flex;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
}

.full-post {
  border: 0.5rem solid var(--light-blue);
  width: auto;
  height: auto;
  display: block;
  padding: 2rem;
  margin: 4rem;
}
h3 {
  font-size: 3rem;
  font-weight: bolder;
}
h4 {
  font-size: 2rem;
  font-style: italic;
}
p {
  font-size: 2rem;
  margin: 2rem 0;
}
hr {
  border: 0.1rem solid var(--light-blue);
}
/*Light Mode Settings*/
.light hr {
  border: 0.1rem solid var(--dark-blue);
}
.light #post {
  border: 0.5rem solid var(--dark-blue);
}
.light #back {
  background-color: var(--dark-blue);
  color: var(--light-blue);
}
@media (max-width: 730px) {
  header div {
    justify-content: center;
  }
}
