:root {
  --white: white;
  --dark-blue: rgb(3, 3, 27);
  --med-blue: rgb(73, 73, 156);
  --light-blue: rgb(225, 225, 248);
  --peach: rgb(255, 210, 169);
  --med-peach: rgb(255, 168, 87);
}
.dark * {
  background-color: var(--dark-blue);
  color: var(--white);
}
main {
  height: 100vh;
  width: 100%;
}
html {
  font-size: 62.5%;
}
#theme-switcher {
  height: 4rem;
  width: 4rem;
  align-self: center;
  margin: 2rem 4rem;
  cursor: pointer;
}
header {
  border-bottom: 1rem solid var(--white);
  height: auto;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

h1 {
  color: var(--white);
  font-size: 5rem;
  margin: 2rem 4rem;
}
h5 {
  color: var(--white);
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
footer {
  height: 6rem;
  border-top: 1rem solid var(--white);
}
footer a {
  text-decoration: none;
}
/* Light Mode */
.light * {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}
.light main {
  height: 100vh;
}
.light #theme-switcher {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 730px) {
  header {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 2rem 0 2rem;
  }
}
